*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    position: relative;
    list-style: none;
    text-decoration: none;
    outline: 0;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 70%;
    height: 100vh;
}
.main{
    width: 100%;
    display: flex;
}
/* estilização do Header */
.header{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.img-header{
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header img{
    width: 40vw;
    height: 40vh;
}
.nav{
    width: 100%;
    height: 20vh;
    border-bottom: 2px solid white;
}
.content-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.div-logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-logo a{
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
}
.logotype{
    width: 100%;
    height: 50%;
    font-size: 1.6em;
    font-weight: 700;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid white;
    
}
.navigation ul{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navigation ul li{
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul li:hover{
    border-bottom: none;
}
.navigation ul li a{
    font-weight: 500;
    font-size: 1rem;
    color:black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    padding: 5px;
}
.title{
    color: black;
    border-radius: 10px;
}
.divs-navigation{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 18%;
}
/*estilo padrao para as divs de navegação*/
.div-blog, .div-about, .div-contacts{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    
}
/*Estilização div blog*/
.div-blog{
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    
}
/*estiliza os posts recentes*/
.post-recents{
    width: 70%;
    height: 62%;
    top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.post{
    width: 22%;
    height: 48%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.7%;
    padding: 2%;
    background-color:transparent;
}
.card-post{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: column;
}
.img-card{
    width: 100%;
    height: 70%;
    padding: 1%;
}
.img-card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.content-card{
    width: 90;
    height: 27%;
}
.content-card p{
    font-size: 100%;
    font-weight: 500;
    color:black;
    text-align: center;
    padding: 2%;
}
/*estiliza os destaques e os últimos comentarios*/
.data-blog{
    width: 25%;
    height: 94%;
    right: 0px;
    top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.destaques{
    width: 90%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list-destaques{
    width: 90%;
    height: 90%;
    
}
.list-destaques ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.list-destaques ul li{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-destaques ul li a{
    width: 100%;
    height: 90%;
    padding: 2%;
    font-size: 1.16rem;
    text-overflow: ellipsis;
    text-decoration: underline;
    color: black;
}
.users-comentary{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}
.users-comentary h3{
    margin: 5% 0%;
    color: black;
}
.user-coment{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:transparent;
    margin: 2% 0%;
}
.user-coment:hover, .content-destac:hover, .post:hover{
    background-color: whitesmoke;
    transform: scale(1.2);
    border-radius: 10px;
    z-index: 1;
    color: black
}
.data-user{
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2% 0%;
}
.data-user ion-icon{
    width: 2.5vw;
    height: 2.8vh;
    margin: 1px;
    left: -5px;
    top: 2px;
}
.data-user span{
    font-weight: 600;
    color:black;
    font-size: 0.9rem;

}
.data-coment{
    width: 90%;
    height: 70%;
    margin: 1px;
    display: flex;
    text-align: start;
}
.data-coment p{
    font-size: 0.83rem;
    width: 100%;
    height: 100%;
    margin: 1px;
    font-weight: 500;
    color: black;
}
/*estiliza a caixa para o usuario comentar*/
.comentarios{
    width: 70%;
    height: 30%;
    position: absolute;
    bottom: 3%;
    left: 1.37%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:transparent;
    border-top: 2px solid white;
    

}
.box-to-coment{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}
.box-to-coment textarea{
    width: 55%;
    height: 70%;
    margin: 2px;
    border: none;
    border-radius: 10px;
    left: 30%;
    resize: none;
    padding: 1%;
    background-color: white;
}
.box-to-coment textarea:nth-child(1){
    height: 20%;
    width: 40%;
}
.comentarios button{
    width: 18%;
    height: 12%;
    border-radius: 10px;
    border: none;
    left: 16%;
    top: 2%;
}
.comentarios button:hover{
    transform: scale(1.2);
    background-color: rgb(6, 141,146);
    color: white;
}
.comentarios h3{
    color: black;
    margin: 2px;
}
.comentary:hover{
    transform: scale(1.15);
    left: 34%;
    z-index: 1;
    border: 1px solid rgb(6, 141,146) ;
}
/*estilização da div about*/
.div-about{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-about{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.title-about{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3%
}
.title-about h2{
    font-size: 3.4rem;
}
.about-jobs{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
}
.about-me{
    width: 45%;
    height: 90%;
    background-color: bisque;
}
.text-about{
    width: 90%;
    font-size: 1.35rem;
    padding: 10%;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: justify;

}
.jobs{
    width: 40%;
    height: 90%;
    background-color: blue;
}
/*estilização da div contacts*/
.div-contacts{
    background-color: blueviolet;
}
/*Grupo de classes usadas para mudar a cor das palavras
chaves e links de navegação da página */
.cYellow{
    background-color: rgb(231, 201, 28);
    color: white;
}
.bYellow{
    background-color: rgb(231, 201, 28, 0.4);
}
.cRed{
    background-color: rgb(214, 55, 55);
    color: white;
}
.bRed{
    background-color: rgb(214, 55, 55,0.4);
}
.cGreen{
    background-color: rgb(141, 199, 88);
    color: white;
}
.bGreen{
    background-color: rgb(141, 199, 88,0.4);
}
.cBlue{
    background-color: rgb(50, 192, 185);
    color: white;
}
.bBlue{
    background-color: rgb(50, 192, 185,0.4);
}
.cPink{
    background-color: rgb(201, 62, 194);
    color: white;
}
.bPink{
    background-color: rgb(201, 62, 194, 0.4);
}
.cOrange{
    background-color: rgb(219, 133, 35);
    color: white;
}
.bOrange{
    background-color: rgb(219, 133, 35,0.4);
}
